<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="plantilla/default">
<head>
<script type="text/javascript" th:inline="javascript" th:if="${outcome != null}" >
//<![CDATA[
    $(function() {
        $("#dialog-confirm" ).dialog({
          resizable: false,
          height:170,
          width:380,
          modal: true,
          title: 'Mensaje' ,
          buttons: {
            "Aceptar": function() {
              $( this ).dialog( "close" );
            }
          }
        });
      });
//]]>   
</script>
    <title th:text="#{inicio.titulo}">Titulo</title>
</head>
<body>
    <div layout:fragment="contenido">
    
            <div id="dialog-confirm" th:if="${outcome != null}">
            
            <table style="border-style:none;">
                <tr>
                    <td><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span></td>
                    <td><p th:text="#{${outcome}}" style="float:left; margin:0 7px 20px 0;"></p></td>
                </tr>
            </table>
        </div>  
        
        <table width="100%" height="100%" border="0">
        <tr>        
            <td>
                <table width="100%" height="100%" border="0">
                    <tr valign="top">
                        <td>
                            <table width="100%" border="0">
                                <tr valign="top">
                                    <td style="font-size: 13px; font-style: italic; font-weight: bold; width: 100%; background-color: #015198; color: #FFFFFF">Sistema
                                        de Pagos Recurrentes</td>
                                </tr>
                                <tr>
                                    <td><br></br></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <table border="1" width="80%">
                                            <tr>
                                                <td>
                                                    <table border="0" width="100%">
                                                        <tr>
                                                            <td colspan="2"
                                                                style="font-size: 13px; font-weight: bold; width: 100%; background-color: #015198; color: #FFFFFF">Bienvenido
                                                                al Sistema de Pagos Recurrentes</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="3%"></td>
                                                            <td width="97%" style="font-size: 13px">Este Sistema le permitirá realizar una serie de
                                                                operaciones relacionadas con los pagos recurrentes</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"><br></br></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2" class="nivel3" style="font-size: 13px; font-weight: bold" width="100%"><img
                                                                alt="Expandir" title="Expandir" class="wpsNavIcon" th:src="@{#{menu.imagen}}"></img>Afiliación</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td style="font-size: 13px">Una afiliación es el proceso por el cual un cliente que cuenta con
                                                                una tarjeta VISA autoriza por escrito o algún otro medio aun establecimiento a cargar
                                                                periódicamente a su tarjeta VISA por el cobro de un servicio. Si desea ingresar a esta sección
                                                                hacer un clic <b><a style="font-size: 13px" th:href="@{#{url.emisor.afiliaciones.registro}}">aquí.</a></b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"><br></br></td>
                                                        </tr>
                                                        </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            </tr>
    </table>

    </div>
</body>
</html>