<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="plantilla/default">
<head>
<title th:text="#{inicio.titulo}">Titulo</title>
</head>

<body>
   <div layout:fragment="contenido">
        <table width="100%" height="100%" border="0">
            <tbody>
                <tr valign="top">
                    <td th:text="#{salida.titulo}" style="font-size: 13px; font-style: italic; font-weight: bold; width: 100%; background-color: #015198; color: #FFFFFF">Pagos Recurrentes</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div th:if="${outcome != null}"><p th:text="#{${outcome}}" style="float:left;">Gracias por pre-afiliarse</p></div>
        <script type="text/javascript" th:inline="javascript">      
//<![CDATA[           
    jQuery(document).ready(function(){
        if([[@{${outcome}}]] == null || [[@{${outcome}}]] == '' )
        {
            window.location.href=[[@{'/formulario-afiliacion'}]];
        }
     });
//]]>
</script>
  </div>
  
</body>
</html>