<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title layout:title-pattern="$DECORATOR_TITLE: $CONTENT_TITLE">#{menu.titulo}</title>
<link rel="styleSheet" type="text/css" th:href="@{/resources/css/styles.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/StyloBCP-2011-03-16.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/site-login.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/jquery-ui-1.10.4.custom.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/jquery.fadein.popup.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/validationEngine.jquery.css}" />
<script type="text/javascript" th:src="@{/resources/js/jquery-1.11.1.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery-ui-1.10.4.custom.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.validationEngine.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.validationEngine-es.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery-dateFormat.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/util.js}"></script>
<script type="text/javascript" th:inline="javascript">

    var url_options={
            url_401 : [[@{'/login?error=sesionExpirada'}]],
            url_403 :  [[@{'/error/403'}]],
            url_404 :  [[@{'/error/404'}]]                                   
    }
	$(document).ready(
			function() {
                var optionSelected;
			
            	$('li').click(
						function(e) {
							if ($(this).find('>ul').hasClass('active')) {
								$(this).children('ul').removeClass('active').children('li').slideUp();
								e.stopPropagation();
							} else {
								$(this).children('ul').addClass('active').children('li').slideDown();
								e.stopPropagation();
							}
                          
						});
                   
                  //activacion y seleccion de opcion      
                   $([[${indiceMenu}]]).parent().parent().children('ul').addClass('active').children('li').show();
                   $([[${indiceMenu}]]).addClass('selectedOption');
                   $( ".selectedOption" ).css("font-weight", "bold");
                    
			});
    
            $(document).ajaxStart(function() {
        		  $("#procesando").css("display","block");
        	});
        	
        	$(document).ajaxStop(function() {
        		  $("#procesando").css("display","none");
        	}); 
    
           function showpopup(theURL,winName,features)
            {       
                var newin=window.open(theURL,winName,features);
                newin.opener=self;
            }   
           
</script>
</head>
<body>
<div></div>
    <div class="pagina">
            <div class="contenedor">
             <ul><li id="liAfiliacion2"  class="nivelLogo"><img  th:src="@{#{menu.logo}}" /></li></ul>
             <div id="procesando">
                <img alt="" th:src="@{/resources/images/procesando.gif}"/>
             </div>
             <div class="contenido" layout:fragment="contenido">
             </div>
            </div>
    </div>
</body>
</html>
