<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <body>
  <div>

     <script type="text/javascript" th:inline="javascript" th:fragment="validaciones">
     //<![CDATA[ 
         function validarMesTarjeta(field, rules, i, options)
         {            
        	var fechaActual = new Date(); 
        	var anhoSeleccionado = $("#ddlAnhoExpiracion").val();
        	
        	var yy = fechaActual.getFullYear();
        	
 			if(anhoSeleccionado != "" && parseInt(anhoSeleccionado) == parseInt(yy))
            {
                var mm = fechaActual.getMonth()+1; //January is 0!
                
                var valor = field.val();
                if (valor != null && valor != "")
                {
                    if(parseInt(valor) < parseInt(mm))
                    {
                        var mensaje = [[#{afiliacion.mes.tarjeta.incorrecto}]];
                        return mensaje;
                    }
                }
            }
         }    
  
         function validarMayorA(field, rules, i, options)
         {
         	var montoMayor=rules[i+2];
        
            var valor = $.trim(field.val());
            
            if (valor != null)
            {
            	var valorSinComas = valor.replace(',','');
            	if(parseFloat(valorSinComas) <= parseFloat(montoMayor))        	    
        	    {
        	    	var mensaje = [[#{afiliacion.monto.menorMinimo}]];
        	  	  	return mensaje.replace('%', montoMayor)
        	    }
        	}
         }          
    //]]>
    </script>
  </div>
  </body>
  
</html>