<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p] [%t] [%c] %m %n" />
        </layout>
    </appender>

    <appender name="syslog" class="org.apache.log4j.net.SyslogAppender">
        <param name="syslogHost" value="172.16.1.179" />
        <param name="facility" value="LOCAL7" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m" />
        </layout>
    </appender>
        
    <logger name="org.springframework">
        <level value="info" />
    </logger>
    <logger name="org.springframework.security">
        <level value="info" />
    </logger>
    <logger name="org.springframework.cache">
        <level value="trace" />
    </logger>
    <logger name="org.mybatis">
        <level value="info" />
    </logger>
    <logger name="mapper">
        <level value="trace" />
    </logger>
    <logger name="org.apache">
        <level value="info" />
    </logger>
    <logger name="org.thymeleaf">
        <level value="info" />
    </logger>
    <logger name="com.github">
        <level value="info" />
    </logger>
	<logger name="pe.com.visanet.spr">
        <level value="debug" />
    </logger>
    <logger name="syslogger">
        <level value="info" />
        <appender-ref ref="syslog" />
    </logger>
        
    <root>
        <level value="debug" />
        <appender-ref ref="stdout" />
    </root>
</log4j:configuration>