#Bcp_arrowhead {
left:0;
position:absolute;
top:-500px;
visibility:hidden;
z-index:99;
}

.Bcp_BarraCabeceraTabla {
background-color:#FFF;
border-bottom:#ffae8a 1px solid;
border-left:#ffae8a 1px solid;
border-right:#ffae8a 1px solid;
border-top:#ffae8a 1px solid;
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
text-align:center;
}

.Bcp_BarraCabeceraTablaDer {
background-color:#FFF;
border-bottom:#ffae8a 1px solid;
border-left:#ffae8a 1px solid;
border-right:#ffae8a 1px solid;
border-top:#ffae8a 1px solid;
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
text-align:right;
}

.Bcp_BarraCabeceraTablaDespliega {
background-color:#ff9566;
color:#FFF;
cursor:n-resize;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
}

.Bcp_BarraCabeceraTablaIzq {
background-color:#FFF;
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
padding-left:3px;
text-align:left;
}

.Bcp_BarraCabeceraTablaTexto {
background-color:#FFF;
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
}

.Bcp_BarraCabeceraTablaTexto A:active {
text-decoration:none;
}

.Bcp_BarraCabeceraTablaTexto A:hover {
text-decoration:underline;
}

.Bcp_BarraCabeceraTablaTexto A:link {
text-decoration:none;
}

.Bcp_BarraCabeceraTablaTexto A:visited {
text-decoration:none;
}

.Bcp_BarraLink {
background-color:#FFF;
border-bottom:#ff9566 1px solid;
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:18px;
padding-right:5px;
}

.Bcp_BarraLink A:active {
color:#015198;
text-decoration:none;
}

.Bcp_BarraLink A:hover {
color:#ff9566;
text-decoration:underline;
}

.Bcp_BarraLink A:link {
color:#015198;
text-decoration:none;
}

.Bcp_BarraLink A:visited {
color:#015198;
text-decoration:none;
}

.Bcp_BarraResultados {
background-color:#FFF;
color:#ff9566;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:400;
height:25px;
padding-left:7px;
}

.Bcp_BarraSubtitulo {
background-color:#FFF;
border-bottom:#ff9566 1px solid;
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:25px;
padding-left:7px;
}

.Bcp_BarraSubtitulo A:active {
color:#015198;
text-decoration:underline;
}

.Bcp_BarraSubtitulo A:hover {
color:#ff9566;
text-decoration:none;
}

.Bcp_BarraSubtitulo A:link {
color:#015198;
text-decoration:underline;
}

.Bcp_BarraSubtitulo A:visited {
color:#015198;
text-decoration:underline;
}

.Bcp_Boton {
background-color:#ff9566;
border-bottom:#000 1px solid;
border-left:#D4D0C8 1px solid;
border-right:#000 1px solid;
border-top:#D4D0C8 1px solid;
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:400;
margin-left:1px;
margin-right:1px;
width:auto;
}


/******************************************************/
/*clases para el datatable**/
/* .paginate_button{ */
/* background-color:#ff9566; */
/* border-bottom:#000 1px solid; */
/* border-left:#D4D0C8 1px solid; */
/* border-right:#000 1px solid; */
/* border-top:#D4D0C8 1px solid; */
/* color:#FFF; */
/* font-family:Arial, Helvetica, sans-serif; */
/* font-size:11px; */
/* font-weight:400; */
/* margin-left:1px; */
/* margin-right:1px; */
/* width:auto;	 */
/* } */

/* .dataTables_info { */
/*     clear: both; */
/*     float: left; */
/* } */

/* .dataTables_paginate{ */
/* float: right; */
/* text-align: right; */
/* } */

/* .paging_full_numbers { */
/* height: 22px; */
/* line-height: 22px; */
/* } */


.paginate_button{
	background-color:#ff9566 !important;
	color:#FFF !important;
}




/***********************FIN*******************************/


.Bcp_Bt_Activado {
background-color:#ffae8a;
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
padding:2px 5px;
}

.Bcp_Bt_PorActivar {
background-color:#FFF;
border-bottom:#fec8af 1px solid;
border-left:#fec8af 1px solid;
border-right:#fec8af 1px solid;
border-top:#fec8af 1px solid;
color:#ff9566;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
padding:2px 5px;
}

.Bcp_Bt_Visitado {
background-color:#fff1eb;
color:#ffae8a;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
padding:2px 5px;
}

.Bcp_Bt_txtActivado {
color:#ff9566;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
}

.Bcp_Bt_txtPorActivar {
color:#ff9566;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
}

.Bcp_Bt_txtVisitado {
color:#ffae8a;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
}

.Bcp_CabeceraTabla {
background-color:#80cce6;
}

.Bcp_CabeceraTablaDer {
background-color:#ff9566;
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
text-align:right;
}

.Bcp_CabeceraTablaIzq {
background-color:#ff9566;
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
padding-left:3px;
text-align:left;
}

.Bcp_ColorFondoTabla {
background-color:#fff1eb;
}

.Bcp_ColorTabla {
background-color:#FFF;
padding-bottom:5px;
padding-top:5px;
}

.Bcp_EnlaceOff {
color:#ff9566;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
padding-right:0;
}

.Bcp_FilaImParTablaFondoBCP {
background-color:#FFF;
color:#015198;
font:normal 11px Arial, Helvetica, sans-serif;
height:20px;
padding-left:5px;
padding-right:5px;
}

.Bcp_FilaImpar {
background-color:#FFF;
color:#015198;
font:normal 11px Arial, Helvetica, sans-serif;
height:20px;
padding-left:5px;
padding-right:5px;
}

.Bcp_FilaImpar TD {
color:#015198;
font:normal 11px Arial, Helvetica, sans-serif;
}

.Bcp_FilaImpar TD A:active {
color:#015198;
text-decoration:underline;
}

.Bcp_FilaImpar TD A:hover {
color:#015198;
text-decoration:none;
}

.Bcp_FilaImpar TD A:link {
color:#015198;
text-decoration:underline;
}

.Bcp_FilaImpar TD A:visited {
color:#015198;
text-decoration:underline;
}

.Bcp_FilaOff {
background-color:#f8d7c8;
color:red;
font:normal 11px Arial, Helvetica, sans-serif;
height:20px;
padding-left:5px;
padding-right:5px;
}

.Bcp_FilaOpciones {
border-bottom:#ffae8a 1px solid;
height:20px;
}

.Bcp_FilaPar {
background-color:#ffefe5;
color:#015198;
font:normal 11px Arial, Helvetica, sans-serif;
height:20px;
padding-left:5px;
padding-right:5px;
}

.Bcp_FilaPar TD {
color:#015198;
font:normal 11px Arial, Helvetica, sans-serif;
}

.Bcp_FilaPar TD A:active {
color:#015198;
text-decoration:underline;
}

.Bcp_FilaPar TD A:hover {
color:#015198;
text-decoration:none;
}

.Bcp_FilaPar TD A:link {
color:#015198;
text-decoration:underline;
}

.Bcp_FilaPar TD A:visited {
color:#015198;
text-decoration:underline;
}

/**.Bcp_FilaParTablaFondoBCP {
background-color:#ecf7fb;
color:#015198;
font:normal 11px Arial, Helvetica, sans-serif;
height:20px;
padding-left:5px;
padding-right:5px;
}**/

.Bcp_FilaParTablaFondoBCP {
background-color:#ffefe5;
color:#015198;
font:normal 11px Arial, Helvetica, sans-serif;
height:20px;
padding-left:5px;
padding-right:5px;
}

.Bcp_FilaSeleccionada {
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
padding-right:0;
}

.Bcp_ItemNIvel0 {
background:#FFF;
color:#015198;
float:left;
font:normal 11px Arial, Helvetica, sans-serif;
height:auto;
margin-right:0;
padding:4px 7px;
width:auto;
}

.Bcp_ItemNIvel0_on {
background:#ffefe5;
color:#015198;
cursor:pointer;
float:left;
font:normal 11px Arial, Helvetica, sans-serif;
height:auto;
margin-right:0;
padding:4px 7px;
width:auto;
}

.Bcp_ItemNIvel1 {
background:#FFF;
color:#015198;
float:left;
font:normal 11px Arial, Helvetica, sans-serif;
height:auto;
margin-right:0;
padding:4px 7px;
width:auto;
}

.Bcp_ItemNIvel1_on {
background:#ffefe5;
color:#015198;
cursor:pointer;
float:left;
font:normal 11px Arial, Helvetica, sans-serif;
height:auto;
margin-right:0;
padding:4px 7px;
width:auto;
}

.Bcp_ItemNIvel2 {
background:#FFF;
color:#015198;
float:left;
font:normal 11px Arial, Helvetica, sans-serif;
height:auto;
margin-right:0;
padding:4px 7px;
width:auto;
}

.Bcp_ItemNIvel2_on {
background:#ffefe5;
color:#015198;
cursor:pointer;
float:left;
font:normal 11px Arial, Helvetica, sans-serif;
height:auto;
margin-right:0;
padding:4px 7px;
width:auto;
}

.Bcp_ItemNIvelSepara {
background:#ffefe5;
color:red;
float:left;
font:normal 11px Arial, Helvetica, sans-serif;
height:auto;
margin-right:0;
padding:2px 1px;
width:auto;
}

.Bcp_MenuNivel0 {
border-bottom:#ffae8a 1px solid;
height:auto;
width:100%;
}

.Bcp_MenuNivel1 {
border-bottom:#ffae8a 1px solid;
height:auto;
width:100%;
}

.Bcp_MenuNivel2 {
border-bottom:#ffae8a 1px solid;
height:auto;
width:100%;
}

.Bcp_PiePorlet {
background-color:#FFF;
border-bottom:#015198 1px solid;
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:400;
height:18px;
padding-right:5px;
}

.Bcp_PiePorlet A:active {
color:#015198;
text-decoration:none;
}

.Bcp_PiePorlet A:hover {
color:#ff9566;
text-decoration:underline;
}

.Bcp_PiePorlet A:link {
color:#015198;
text-decoration:none;
}

.Bcp_PiePorlet A:visited {
color:#015198;
text-decoration:none;
}

.Bcp_Separador1 {
background-color:#015198;
border-left:#FFF 1px solid;
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:400;
height:20px;
padding-left:6px;
text-align:center;
}

.Bcp_Separador2 {
background-color:#FFF;
border-bottom:#ffae8a 1px solid;
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:400;
height:20px;
padding-bottom:0;
}

.Bcp_SubtituloTabla {
background-color:#FFF;
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
text-align:center;
}

.Bcp_TablaBCP {
background-color:#fff1eb;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
}

.Bcp_TablaBCP THEAD TD {
background-color:#ff9566;
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
padding-left:3px;
padding-right:3px;
}
/**
.Bcp_TablaFondoBCP {
background-color:#d4edf4;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
}
**/

.Bcp_TablaFondoBCP {
background-color:#fff1eb;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
}

/**
.Bcp_TablaFondoBCP THEAD TD {
background-color:#80cce6;
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
padding-left:3px;
padding-right:3px;
}
**/

.Bcp_TablaFondoBCP THEAD TD {
background-color:#ff9566;
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
padding-left:3px;
padding-right:3px;
}

.Bcp_TxtCampos {
color:#333;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:400;
}

.Bcp_TxtContenidoTablaDer {
background-color:#FFF;
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:400;
height:20px;
padding-left:5px;
padding-right:5px;
text-align:right;
}

.Bcp_TxtContenidoTablaDer A:active {
color:#015198;
text-decoration:underline;
}

.Bcp_TxtContenidoTablaDer A:hover {
color:#ff9566;
text-decoration:none;
}

.Bcp_TxtContenidoTablaDer A:link {
color:#015198;
text-decoration:underline;
}

.Bcp_TxtContenidoTablaDer A:visited {
color:#015198;
text-decoration:underline;
}

.Bcp_TxtContenidoTablaIzq {
background-color:#FFF;
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:400;
height:20px;
padding-left:5px;
padding-right:5px;
text-align:left;
}

.Bcp_TxtContenidoTablaIzq A:active {
color:#015198;
text-decoration:none;
}

.Bcp_TxtContenidoTablaIzq A:hover {
color:#ff9566;
text-decoration:underline;
}

.Bcp_TxtContenidoTablaIzq A:link {
color:#015198;
text-decoration:none;
}

.Bcp_TxtContenidoTablaIzq A:visited {
color:#015198;
text-decoration:none;
}

.Bcp_TxtConyuge {
background-color:#FFF;
color:red;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:400;
height:20px;
padding-left:5px;
}

.Bcp_TxtConyuge A:active {
color:red;
font-weight:400;
text-decoration:none;
}

.Bcp_TxtConyuge A:hover {
color:red;
font-weight:400;
text-decoration:underline;
}

.Bcp_TxtConyuge A:link {
color:red;
font-weight:400;
text-decoration:none;
}

.Bcp_TxtConyuge A:visited {
color:red;
font-weight:400;
text-decoration:none;
}

.Bcp_TxtDescripcion {
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:400;
height:20px;
padding-left:5px;
}

.Bcp_TxtDescripcion A:active {
color:#015198;
text-decoration:underline;
}

.Bcp_TxtDescripcion A:hover {
color:#ff9566;
text-decoration:none;
}

.Bcp_TxtDescripcion A:link {
color:#015198;
text-decoration:underline;
}

.Bcp_TxtDescripcion A:visited {
color:#015198;
text-decoration:underline;
}

.Bcp_TxtEnlace {
background-color:#FFF;
border-bottom:#FFF 0 solid;
border-left:#FFF 0 solid;
border-right:#FFF 0 solid;
border-top:#FFF 0 solid;
color:#ff9566;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
margin-right:2px;
padding-left:5px;
padding-right:5px;
}

.Bcp_TxtEnlace A:active {
color:#ff9566;
text-decoration:none;
}

.Bcp_TxtEnlace A:hover {
color:#ff9566;
text-decoration:underline;
}

.Bcp_TxtEnlace A:link {
color:#ff9566;
text-decoration:none;
}

.Bcp_TxtEnlace A:visited {
color:#ff9566;
text-decoration:none;
}

.Bcp_TxtEnlaces {
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:400;
height:20px;
padding-left:6px;
padding-right:6px;
}

.Bcp_TxtEnlaces A:active {
color:#015198;
text-decoration:none;
}

.Bcp_TxtEnlaces A:hover {
color:#015198;
text-decoration:underline;
}

.Bcp_TxtEnlaces A:link {
color:#015198;
text-decoration:none;
}

.Bcp_TxtEnlaces A:visited {
color:#015198;
text-decoration:none;
}

.Bcp_TxtEnlacesOff {
background-color:#FFF;
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
padding-left:6px;
padding-right:6px;
}

.Bcp_TxtEnlacesOff A:active {
color:#015198;
text-decoration:none;
}

.Bcp_TxtEnlacesOff A:hover {
color:#015198;
text-decoration:none;
}

.Bcp_TxtEnlacesOff A:link {
color:#015198;
text-decoration:none;
}

.Bcp_TxtEnlacesOff A:visited {
color:#015198;
text-decoration:none;
}

.Bcp_TxtError {
background-color:#FFF;
border-bottom:#ffae8a 1px solid;
border-left:#ffae8a 1px solid;
border-right:#ffae8a 1px solid;
border-top:#ffae8a 1px solid;
color:#ff9566;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
padding-left:5px;
text-align:left;
}

.Bcp_TxtEtiqueta {
background-color:#FFF;
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
padding-left:7px;
padding-right:7px;
text-align:left;
}

.Bcp_TxtEtiquetaResaltado {
color:#ff9566;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
}

.Bcp_TxtModulo {
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-style:italic;
font-weight:700;
padding-left:7px;
}

.Bcp_TxtPaginar {
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
padding-left:5px;
padding-right:5px;
}

.Bcp_TxtPaginar A:active {
color:#015198;
text-decoration:none;
}

.Bcp_TxtPaginar A:hover {
color:#ff9566;
text-decoration:underline;
}

.Bcp_TxtPaginar A:link {
color:#015198;
text-decoration:none;
}

.Bcp_TxtPaginar A:visited {
color:#015198;
text-decoration:none;
}

.Bcp_TxtResaltadoTabla {
background-color:#FFF;
color:#ff9566;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
padding-left:5px;
padding-right:5px;
}

.Bcp_TxtSubEnlaces {
background-color:#FFF;
color:#ff9566;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
padding-bottom:0;
}

.Bcp_TxtSubEnlaces A:active {
color:#ff9566;
font-weight:400;
text-decoration:none;
}

.Bcp_TxtSubEnlaces A:hover {
color:#ff9566;
font-weight:400;
text-decoration:underline;
}

.Bcp_TxtSubEnlaces A:link {
color:#ff9566;
font-weight:400;
text-decoration:none;
}

.Bcp_TxtSubEnlaces A:visited {
color:#ff9566;
font-weight:400;
text-decoration:none;
}

.Bcp_TxtSubtitulo {
color:#ff9566;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:25px;
padding-left:7px;
padding-right:8px;
text-align:left;
}

.Bcp_TxtSubtitulo A:active {
color:#ff9566;
text-decoration:underline;
}

.Bcp_TxtSubtitulo A:hover {
color:#ff9566;
text-decoration:none;
}

.Bcp_TxtSubtitulo A:link {
color:#ff9566;
text-decoration:underline;
}

.Bcp_TxtSubtitulo A:visited {
color:#ff9566;
text-decoration:underline;
}

.Bcp_TxtSubtituloTabla {
background-color:#FFF;
border-bottom:#fec8af 1px solid;
border-left:#fec8af 1px solid;
border-right:#fec8af 1px solid;
border-top:#fec8af 1px solid;
color:#ff9566;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
}

.Bcp_TxtSubtituloTabla2 {
background-color:#FFF;
color:#015198;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
padding-left:5px;
}

.Bcp_TxtTitular {
background-color:#FFF;
color:red;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
height:20px;
padding-left:5px;
}

.Bcp_TxtTitular A:active {
color:red;
text-decoration:none;
}

.Bcp_TxtTitular A:hover {
color:red;
text-decoration:underline;
}

.Bcp_TxtTitular A:link {
color:red;
text-decoration:none;
}

.Bcp_TxtTitular A:visited {
color:red;
text-decoration:none;
}

.Bcp_balloonstyle {
background-color:#FFF;
border:1px solid #000;
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135,Strength=5);
font:normal 9px Verdana;
left:0;
line-height:18px;
padding:5px;
position:absolute;
top:-500px;
visibility:hidden;
width:200px;
z-index:100;
}

.Bcp_linea {
color:#CCC;
width:100%;
}

.Bcp_BarraTituloPortlet {
background-color:#0099CB;
color:#FFF;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-style:italic;
font-weight:700;
height:22px;
padding-left:7px;
}

.dijitDialogTitleBar {
	color: white;
	background-image: none;
	background-color:#015198;
	padding: 5px 6px 3px 2px;
	cursor: move;
	outline:0; 
	font-size: 12px;
}

.input_visanent_size{
    width: 145px;
    max-width: 145px;
    min-width: 145px;
}
.input_visanent_size_350{
    width: 350px;
    
}

.table_size{
    width: 100%;
    border: 0px;
}
.table_grid{
    width: 100%;
    border: 0px;
}
.table_grid td{
    text-align: center;
}

.table_size_60{
    width: 60%;
}

.data_table{
    width: 100%;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
}
.titulo_principal{
    font-size: 13px; 
    font-style: italic; 
    font-weight: bold; 
    width: 100%; 
    background-color: #015198; 
    color: #FFFFFF;
}

.input_bin{
    width: 60px;
}

.input_mask{
    width: 40px;
}

.show {
    display:block;
}

.hide {
    display:none;
}

.without_top_border{
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;border-top: 0px;border-collapse: collapse;
}

.border{
   border: 1px black solid;border-collapse: collapse;
}

.cabeceraTablaCentro {
    background-color:#ff9566;
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight:700;
    height:20px;
    padding-left:3px;
    text-align:center;
}
